html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
}

.sidebar {
  min-width: 320px;
  max-width: 70%;
  display: flex;
  border-right: #e9e9e9 1px solid;
}

.sidebar__content{
  max-width: 85%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar__resizer {
  flex: 0 0 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.sidebar__resizer:hover {
  background: #c1c3c5b4;
}

.form {
  margin: 20px auto;
  padding: 0 10px;
  text-align: center;
  width: 30%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.todo-list__item{
  padding: 10px;
  margin: 10px;
  border: solid #000000;
  border-radius: 20px;
}

.todo-list__item--blue{
  border-color: rgba(133, 164, 255, 0.5);
  box-shadow: 6px 6px 10px 1px rgba(133, 164, 255, 0.5);
}

.todo-list__item--green{
  border-color: rgba(133, 255, 153, 0.5);
  box-shadow: 6px 6px 10px 1px rgba(133, 255, 153, 0.5);
}

.todo-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__title{
  flex: 0 1 60%;
  font-size: 18px;
  font-family: Roboto sans-serif;
  margin: 10px 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-width: 320px
}

.todo-list__subtitle{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(203 213 225);
}

.todo-list__copy{
  max-width: 100%;
  word-wrap: break-word;
  font-family: Roboto sans-serif;
  margin: 10px 10px 5px;
}

.todo-list__actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.input-group {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.input-group__input{
  width: 90%;
  padding: 12px;
  border:solid rgb(203 213 225);
  border-radius: 6px;
  color: rgb(15 23 42);
}

.input-group__input:focus{
  border: solid rgb(107 114 128);
  z-index: 10;
}

.input-group__input::placeholder{
  color: rgb(107 114 128);
}

.input-group__error{
  color: rgb(239 68 68);
  margin: 8px;
}

.text-area-group{
  text-align: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.text-area-group__textarea{
  resize:none;
  font-family: Arial sans-serif;
  width: 90%;
  padding: 12px;
  border:solid rgb(203 213 225);
  border-radius: 6px;
  color: rgb(15 23 42);
}

.text-area-group__textarea:focus{
  border: solid rgb(107 114 128);
  z-index: 10;
}

.text-area-group__textarea::placeholder{
  color: rgb(107 114 128);
}

.button {
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.button:not(:last-child) {
  margin: 0 20px 0 0;
}
.button--yellow {
  background-color: #ffd97d;
}

.button--red {
  background-color: #ff9b85;
}

.button--blue {
  background-color: #85a4ff;
}

.button--green {
  padding: 10px 32px;
  background-color: #85ff99;
}